<!doctype html>
<html class="no-js" lang="cs" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--[if lt IE 7 ]>
    <script>document.documentElement.className += ' ie6';</script> <![endif]-->
    <!--[if IE 7 ]>
    <script>document.documentElement.className += ' ie7';</script> <![endif]-->
    <!--[if IE 8 ]>
    <script>document.documentElement.className += ' ie8';</script> <![endif]-->
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width">


    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body>
    <header class="clearfix">
        <h1 class="logo">
            <a href="">
                Hanka Koutná moderátorka
            </a>
        </h1>
        <nav>
            <ul>
                <li class="selected"><a href="">úvod</a></li>
                <li><a href="">pár slov</a></li>
                <li><a href="">reference</a></li>


                <li><a href="">kontakt</a></li>
                <li><a href="">blog</a></li>
                <li><a href="">galerie</a></li>
            </ul>
        </nav>
    </header>
    <div id="main">
        <div class="panel blog">
            <h1>Blog</h1>
            <div class="panel inner submenu">
                <ul>
                    <li><a href="">Ze života</a></li>
                    <li><a href="">Ze akcí</a></li>
                    <li><a href="">Mateřství</a></li>
                    <li><a href="">Doporučuji</a></li>
                </ul>
            </div>
            <div class="panel outer post">
                <div class="panel inner clearfix">
                    <div class="detail">
                        <h2>Lorem ipsum dolor sit amet consectetur adipiscing elit</h2>
                        <p class="date">17. 6. 2006</p>
                        <p class="short">Vestibulum arcu nisi, elementum eu ornare ut, tempus facilisis velit.</p>
                        <p>Pellentesque nec elit quis mi tempor egestas eu quis nunc. Pellentesque cursus blandit ipsum interdum eleifend.Pellentesque bibendum est eget dui rhoncus bibendum. Integer ultricies pulvinar ipsum sed convallis. Curabitur nec metus est. Aenean semper bibendum diam, sed egestas nisl aliquet placerat. Aliquam scelerisque lacus sed lectus pharetra a tempus orci tincidunt. Ut ut purus massa. Ut consectetur auctor nunc, pellentesque auctor sapien consectetur at.</p>
                        <p>Donec congue dignissim libero, non accumsan nunc consequat vitae. Morbi laoreet pharetra nisi iaculis dapibus. Aenean condimentum iaculis lacus eget sollicitudin. Nullam dapibus elementum ultrices. Fusce mattis, lacus quis convallis pharetra, enim dolor accumsan dolor, non molestie urna ligula vel libero. Sed cursus venenatis justo in ultricies. Vivamus diam metus, bibendum et sodales nec, condimentum at elit.Quisque fermentum auctor Suspendisse nunc nunc,</p>
                        <p>interdum vel porta eget, ultrices quis sapien. Suspendisse in dolor eu magna vestibulum porta. Vestibulum nec sollicitudin massa. Mauris bibendum egestas lacinia. Fusce vel massa non ipsum auctor porttitor. Nam fermentum tincidunt neque at faucibus. Suspendisse potenti. Nunc euismod, nulla vel imperdiet consectetur, nibh nunc ultrices neque, ac gravida velit risus et ante. Ut laoreet pharetra nunc, sed mollis tortor elementum lobortis.Suspendisse ut pulvinar </p>
                        <h3>nte. Nunc eu leo dui, at cursus nisi.</h3>
                        <p>a Mauris interdum metus vitae justo hendrerit fermentum. Nulla pellentesque porta purus, sit amet tincidunt justo lobortis sed. Cras sed sapien augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus nec elit diam, quis pharetra erat. Nullam at nisi nisi. Pellentesque auctor volutpat bibendum. Praesent adipiscing enim sed lacus fringilla eget hendrerit libero vulputate. Cras scelerisque ipsum in enim gravida tempus. Vestibulum odio massa, viverra et euismod ut, laoreet id orci. Nunc posuere, lorem feugiat lobortis dictum, urna lacus pulvinar leo, dignissim pretium augue eros ut mauris.</p>
                        <div class="comments clearfix">
                            <p class="count">
                                Počet komentářů: 3
                            </p>
                            <div class="comment clearfix">
                                <p class="name">Gfdsaf FDadfasadfs</p>
                                <p class="date">15.4.554</p>
                                <p class="text">Suspendisse ut pulvinar ante. Nunc eu leo dui, at cursus nisi. Mauris interdum metus    vitae justo hendrerit fermentum. Nulla pellentesque porta purus, sit amet tincidunt justo    lobortis sed. Cras sed sapien augue.</p>
                                <a class="reaction" href="">Reagovat</a>
                            </div>
                            <div class="comment clearfix">
                                <p class="name">Gfdsaf FDadfasadfs</p>
                                <p class="date">15.4.554</p>
                                <p class="text">Suspendisse ut pulvinar ante. Nunc eu leo dui, at cursus nisi. Mauris interdum metus    vitae justo hendrerit fermentum. Nulla pellentesque porta purus, sit amet tincidunt justo    lobortis sed. Cras sed sapien augue.</p>
                                <a class="reaction" href="">Reagovat</a>
                            </div>
                            <div class="comment clearfix">
                                <p class="name">Gfdsaf FDadfasadfs</p>
                                <p class="date">15.4.554</p>
                                <p class="text">Suspendisse ut pulvinar ante. Nunc eu leo dui, at cursus nisi. Mauris interdum metus    vitae justo hendrerit fermentum. Nulla pellentesque porta purus, sit amet tincidunt justo    lobortis sed. Cras sed sapien augue.</p>
                                <a class="reaction" href="">Reagovat</a>
                            </div>
                            <form class="clearfix">
                                <p>Vložte komentář</p>
                                <div class="name">
                                    <input type="text" />
                                </div>
                                <div class="email">
                                    <input type="text" />
                                </div>
                                <div class="text">
                                    <textarea></textarea>
                                </div>
                                <div class="submit">
                                    <a href="">Odeslat</a>
                                </div>
                                <p class="important">Povinné údaje *</p>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel gray contact">
            <div class="panel inner clearfix">
                <p class="title">Kontakt</p>
                <div class="col">
                    <p class="title">Přímý kontakt</p>
                    <p class="address">
                        Hanka Koutna<br>
                        Tel.: 602 611 170<br>
                        Mail: <a href="">hanka.koutna@gmail.com</a><br>
                        <a href="">Facebook</a>
                    </p>
                </div>
                <div class="col">
                    <p class="title">Poslat zprávu</p>
                    <div class="input">
                        <input type="text" />
                    </div>
                    <div class="input">
                        <input type="text" />
                    </div>
                    <div>
                        Povinné údaje *
                    </div>
                </div>
                <div class="col">
                    <div class="textarea">
                        <textarea>

                        </textarea>
                    </div>
                    <div class="submit">
                        <a href="">Odeslat</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="panel black partners">
            <div class="panel inner clearfix">
                <p class="title">Partneři</p>
                <ul class="links">
                    <li><a href=""><img src="images/partners/mohito.png" alt="Mohito" width="155"  height="57" /></a></li>
                    <li><a href=""><img src="images/partners/bikram-yoga.png" alt="Bikram Yoga" width="106"  height="57" /></a></li>
                    <li><a href=""><img src="images/partners/reserved.png" alt="Reserved" width="176"  height="57" /></a></li>
                    <li><a href=""><img src="images/partners/cosmopolitan.png" alt="Cosmopolitan" width="130"  height="57" /></a></li>
                </ul>
                <ul class="switch">
                    <li><a href=""></a></li>
                    <li class="selected"><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>

        </div>
        <footer class="panel red">
            <div class="panel inner clearfix">
                <a href="" class="logo">
                    Hanka Koutná moderátorka
                </a>
                <div class="right">
                    <ul>
                        <li><a href="">úvod</a></li>
                        <li><a href="">pár slov</a></li>
                        <li><a href="">reference</a></li>
                        <li><a href="">galerie</a></li>
                        <li><a href="">blog</a></li>
                        <li><a href="">kontakt</a></li>
                    </ul>
                    <p class="copy">&copy; Copyright 2012, Hanka Koutná</p>
                    <a class="author" href="">Vytvořeno v Netfinity</a>
                </div>
            </div>
        </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.2.min.js"><\/script>')</script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
