<!doctype html>
<html class="no-js" lang="cs" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--[if lt IE 7 ]>
    <script>document.documentElement.className += ' ie6';</script> <![endif]-->
    <!--[if IE 7 ]>
    <script>document.documentElement.className += ' ie7';</script> <![endif]-->
    <!--[if IE 8 ]>
    <script>document.documentElement.className += ' ie8';</script> <![endif]-->
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width">


    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body>
    <header class="clearfix">
        <h1 class="logo">
            <a href="">
                Hanka Koutná moderátorka
            </a>
        </h1>
        <nav>
            <ul>
                <li class="selected"><a href="">úvod</a></li>
                <li><a href="">pár slov</a></li>
                <li><a href="">reference</a></li>


                <li><a href="">kontakt</a></li>
                <li><a href="">blog</a></li>
                <li><a href="">galerie</a></li>
            </ul>
        </nav>
    </header>
    <div id="main">
        <div class="panel references">
            <h1>Reference</h1>
            <div class="panel inner clearfix">
                <ul class="col third">
                    <li>
                        <strong>Televize</strong>
                        <p>ldf aslkfs alkasfdj<br>
                        fdasf dasdfa sfdsads<br>
                        fdasfds dasfdsa </p>
                    </li>
                    <li>
                        <strong>Televize</strong>
                        <p>ldf aslkfs alkasfdj<br>
                            fdasf dasdfa sfdsads<br>
                            fdasfds dasfdsa </p>
                    </li>
                    <li>
                        <strong>Televize</strong>
                        <p>ldf aslkfs alkasfdj<br>
                            fdasf dasdfa sfdsads<br>
                            fdasfds dasfdsa </p>
                    </li>
                </ul>
                <ul class="col third">
                    <li>
                        <strong>Televize</strong>
                        <p>ldf aslkfs alkasfdj<br>
                        fdasf dasdfa sfdsads<br>
                        fdasfds dasfdsa </p>
                    </li>
                    <li>
                        <strong>Televize</strong>
                        <p>ldf aslkfs alkasfdj<br>
                            fdasf dasdfa sfdsads<br>
                            fdasfds dasfdsa </p>
                    </li>
                    <li>
                        <strong>Televize</strong>
                        <p>ldf aslkfs alkasfdj<br>
                            fdasf dasdfa sfdsads<br>
                            fdasfds dasfdsa </p>
                    </li>
                </ul>
                <ul class="col third">
                    <li>
                        <strong>Televize</strong>
                        <p>ldf aslkfs alkasfdj<br>
                        fdasf dasdfa sfdsads<br>
                        fdasfds dasfdsa </p>
                    </li>
                    <li>
                        <strong>Televize</strong>
                        <p>ldf aslkfs alkasfdj<br>
                            fdasf dasdfa sfdsads<br>
                            fdasfds dasfdsa </p>
                    </li>
                    <li>
                        <strong>Televize</strong>
                        <p>ldf aslkfs alkasfdj<br>
                            fdasf dasdfa sfdsads<br>
                            fdasfds dasfdsa </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel red testimonials">
            <h2>Řekli o mně</h2>
            <div class="panel inner clearfix">
                <p class="text">Hanka Koutná patří dlouhou dobu mezi nejoblíbenější a nejosvědčenější moderátorky značky Citroën. Rádi jejích služeb využíváme jak na promočních akcích v terénu, tak i na firemních večírcích naší společnosti. K jejím přednostem patří naprostáprofesionalita, pohotovost, vtipné a zároveň kultivované moderování. Zvládá bravurně moderování jakéhokoliv typu akce.Určitě doporučujeme!“</p>
                <p class="name">Zora Hájková</p>
                <p class="position">Citroën marketing/event manager</p>
            </div>
            <ul class="switch">
                <li><a href=""></a></li>
                <li class="selected"><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
        <div class="panel clients">
            <h2>Moji klienti</h2>
            <ul class="clearfix">
                <li class="image">
                    <a href="">
                        <img src="./images/demo/client1.jpg" width="190" height="100" title="" alt="" />
                    </a>
                </li>
                <li class="image">
                    <a href="">
                        <img src="./images/demo/client2.jpg" width="190" height="100" title="" alt="" />
                    </a>
                </li>
                <li class="image">
                    <a href="">
                        <img src="./images/demo/client1.jpg" width="190" height="100" title="" alt="" />
                    </a>
                </li>
                <li class="image">
                    <a href="">
                        <img src="./images/demo/client2.jpg" width="190" height="100" title="" alt="" />
                    </a>
                </li>
                <li class="image">
                    <a href="">
                        <img src="./images/demo/client2.jpg" width="190" height="100" title="" alt="" />
                    </a>
                </li>
                <li class="image">
                    <a href="">
                        <img src="./images/demo/client1.jpg" width="190" height="100" title="" alt="" />
                    </a>
                </li>
                <li class="image">
                    <a href="">
                        <img src="./images/demo/client2.jpg" width="190" height="100" title="" alt="" />
                    </a>
                </li>
                <li class="image">
                    <a href="">
                        <img src="./images/demo/client1.jpg" width="190" height="100" title="" alt="" />
                    </a>
                </li>
                <li class="image">
                    <a href="">
                        <img src="./images/demo/client1.jpg" width="190" height="100" title="" alt="" />
                    </a>
                </li>
                <li class="image">
                    <a href="">
                        <img src="./images/demo/client2.jpg" width="190" height="100" title="" alt="" />
                    </a>
                </li>
                <li class="image">
                    <a href="">
                        <img src="./images/demo/client1.jpg" width="190" height="100" title="" alt="" />
                    </a>
                </li>
                <li class="image">
                    <a href="">
                        <img src="./images/demo/client2.jpg" width="190" height="100" title="" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="panel gray contact">
            <div class="panel inner clearfix">
                <p class="title">Kontakt</p>
                <div class="col">
                    <p class="title">Přímý kontakt</p>
                    <p class="address">
                        Hanka Koutna<br>
                        Tel.: 602 611 170<br>
                        Mail: <a href="">hanka.koutna@gmail.com</a><br>
                        <a href="">Facebook</a>
                    </p>
                </div>
                <div class="col">
                    <p class="title">Poslat zprávu</p>
                    <div class="input">
                        <input type="text" />
                    </div>
                    <div class="input">
                        <input type="text" />
                    </div>
                    <div>
                        Povinné údaje *
                    </div>
                </div>
                <div class="col">
                    <div class="textarea">
                        <textarea>

                        </textarea>
                    </div>
                    <div class="submit">
                        <a href="">Odeslat</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="panel black partners">
            <div class="panel inner clearfix">
                <p class="title">Partneři</p>
                <ul class="links">
                    <li><a href=""><img src="images/partners/mohito.png" alt="Mohito" width="155"  height="57" /></a></li>
                    <li><a href=""><img src="images/partners/bikram-yoga.png" alt="Bikram Yoga" width="106"  height="57" /></a></li>
                    <li><a href=""><img src="images/partners/reserved.png" alt="Reserved" width="176"  height="57" /></a></li>
                    <li><a href=""><img src="images/partners/cosmopolitan.png" alt="Cosmopolitan" width="130"  height="57" /></a></li>
                </ul>
                <ul class="switch">
                    <li><a href=""></a></li>
                    <li class="selected"><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>

        </div>
        <footer class="panel red">
            <div class="panel inner clearfix">
                <a href="" class="logo">
                    Hanka Koutná moderátorka
                </a>
                <div class="right">
                    <ul>
                        <li><a href="">úvod</a></li>
                        <li><a href="">pár slov</a></li>
                        <li><a href="">reference</a></li>
                        <li><a href="">galerie</a></li>
                        <li><a href="">blog</a></li>
                        <li><a href="">kontakt</a></li>
                    </ul>
                    <p class="copy">&copy; Copyright 2012, Hanka Koutná</p>
                    <a class="author" href="">Vytvořeno v Netfinity</a>
                </div>
            </div>
        </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.2.min.js"><\/script>')</script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
