/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: 'BreeSerif-Regular';
    src: url('font/breeserif-regular.eot');
    src: url('font/breeserif-regular.eot') format('embedded-opentype'),
    url('font/breeserif-regular.woff') format('woff'),
    url('font/breeserif-regular.ttf') format('truetype'),
    url('../font/breeserif-regular.svg#breeserif-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'BreeSerif-Regular';
}
input,
.address,
.text,
.undertext,
.more {
    font-family: Arial;
}
header {
    width:940px;
    margin: 0 auto;
    position: relative;
    height: 137px;
}

header nav {
    width: 100%;
    margin: 0 auto;
    overflow:hidden;
    position:relative;
    z-index: 10;
}
header nav ul {
    clear:left;
    float:left;
    width: 100%;
    list-style:none;
    margin:25px 0 0 0;
    padding:0;
    position:relative;
    left:50%;
    text-align:center;
}
header nav ul li {
    display:block;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    right:50%;
    margin: 0 0 0 5px;

}
header nav ul li.selected a {
    color: #e2292a;
    border-color: #e2292a;

}
header nav ul li a {
    color: #333333;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    padding: 6px 10px;
    text-transform: uppercase;
    border-radius: 20px;
    border: 1px solid #e7e7e7;
    display: block;
    background-color: #f8f8f8;

}
header nav ul li a:hover {
    color: #e2292a;
}
header nav ul li:nth-child(1) {
    margin-left: 0;
}
header nav ul li:nth-child(1),
header nav ul li:nth-child(2),
header nav ul li:nth-child(3) {
    float: left;
}
header nav ul li:nth-child(4),
header nav ul li:nth-child(5),
header nav ul li:nth-child(6) {
    float: right;
    margin-left: 10px;
}
header .logo {
    position: absolute;
    width: 100%;
    height: 137px;
    z-index: 5;
    margin: 0;
}
header .logo a {
    width: 301px;
    margin: 0 auto;
    height: 137px;
    background: url(images/hanka-koutna-logo.png) no-repeat;
    overflow: hidden;
    text-indent: 301px;
    white-space: nowrap;
    font-size: 12px;
    z-index: 20;
    display: block;
    position: relative;
    left: 0px;
}
.blog-icons {
    float: right;
    margin-left: 100px;
    margin-top: 10px;
    font-family: Arial;
    font-size: 16px;
    color:#999999;
    overflow: hidden;
}
.blog-icons .date {
    height: 18px;
    float: right;
    padding: 0 20px 0 0;
    background: url(images/icon-clock.png) right 3px  no-repeat;
}
.blog-icons .comments {
    clear: both;
    height: 18px;
    float: right;
    padding: 0px 20px 0 0;
    margin: 5px 0 0;
    background: url(images/icon-bubble-gray.png) bottom right no-repeat;
}

.panel.main {
    height: 483px;
    min-width: inherit;
    position: relative;
    background: url(images/background-boxes.jpg) top center repeat-x;
}
.panel.main div {
    width: 940px;
    margin: 0 auto;
    height: 483px;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: relative;
}

.panel.main div div.bottom,
.panel.main div div.top {
    position: absolute;
    width: 100%;
    z-index: 20;
}
.panel.main div div.bottom {
    background-image: url(images/panel/1.jpg);
    z-index: 10;
}
.panel.bar {
    background: url(images/about-me-bar2.png) top repeat-x;
    height: 90px;
    line-height: 70px;
    color: white;
    text-align: center;
    font-size: 44px;
    position: relative;
}


.panel.undertext {
    color: #1a1a1a;
    font-size: 16px;
    width: 980px;
    height: 129px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0 0 0;
    position: relative;

}
.panel.undertext ul.switch {
    position: absolute;
    bottom: 20px;
}
ul.switch {
    list-style-type: none;
    clear:left;
    float:left;
    padding:0;
    position:relative;
    left:50%;
    text-align:center;

}

ul.switch li {
    float: left;
    display:block;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    right:50%;
    padding: 0 2px;
}

ul.switch li a {
    width: 15px;
    height: 15px;
    display: block;
    background: url(images/circle.png) no-repeat;
}
ul.switch li.selected a {
    background: url(images/circle-selected.png) no-repeat;
}
.black ul.switch li a {
    background-image: url(images/circle-black.png);
}
.black ul.switch li.selected a {
    background-image: url(images/circle-black-selected.png);
}
.red ul.switch li a {
    background-image: url(images/circle-red.png);
}
.red ul.switch li.selected a {
    background-image: url(images/circle-red-selected.png);
}
.panel {
    margin: 0 auto;
    /*max-width: 1200px;*/
    min-width: 980px;
    background-position: center;
    background-repeat: no-repeat;
}
.panel.gray {
    background: url(images/background-gray.png);
}
.panel.black {
    background: url(images/background-black.png);
}
.panel.red {
    background: url(images/background-red.png);
}

.panel.inner {
    min-width: auto;
    position: relative;
    width: 960px;
    padding: 35px 0;
    margin: 0 auto;
    overflow: visible;
}
footer .panel.inner { 
    width: 940px;
    padding: 75px 0;

}

.panel .col {
    float: left;
}

.panel .third {
    width: 33.33%;
}
.panel .third .content {
    padding: 0 10px;;
}
.post .image,
.gallery .image,
.clients .image,
.col .image {
    position: relative;
    float: left;
    left: 50%;

}
.grayscale {
    filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */
    filter: url(resources.svg#desaturate); /* Gecko */
    filter: gray; /* IE */
    -webkit-filter: grayscale(1); /* Old WebKit */
}
.post .image a,
.gallery .image a,
.clients .image a,
.col .image a {
    display: block;
    background: white;
    padding: 10px;
    margin: 0 auto;
    position: relative;
    float: left;
    left: -50%;

    -webkit-box-shadow: 0px 0px 20px 5px rgba(150, 150, 150, .5);
    box-shadow: 0px 0px 20px 5px rgba(150, 150, 150, .5);
}
.col a.image img {
    display: block;

}
.col .title a,
.col .title {
    color: black;
    font-size: 24px;
    padding: 30px 0 20px 0;
    clear: both;
    margin: 0;
    text-align: center;
}
.col .title a {
    padding: 0;
    text-decoration: none;
}
.col .title.underline {
    border-bottom: 1px solid #e5e5e5;
}

.col .text {
    color: #1a1a1a;
    font-size: 16px;
    margin: 0 0 20px;
    padding: 0;
    text-align: center;
}
.col .more {
    text-align: center;
    margin: 0;
    padding: 0;
}
.col .more a {
    color: #ec1f24;
    font-size: 13px;
    text-align: center;
    font-style: italic;
    text-decoration: none;
    border-bottom: 1px solid #cccccc;
}
.col .more a:hover {
    border-color: #ec1f24;
}
.panel .inner .switch {
    margin-top: 30px;
}
.panel .inner .motto {
    font-size: 44px;
    color: #1a1a1a;
    padding: 0 0 30px;
    margin: 0;
    text-align: center;
}
.panel .inner .motto:before {
    content: "„";
    color: #e5e5e5;
    font-size: 60px;
    margin-right: 10px;
    font-family: georgia, arial;
}
.panel .inner .motto:after {
    content: "“";
    color: #e5e5e5;
    font-size: 60px;
    margin-left: 10px;
    font-family: georgia, arial;
}
.blog .panel.inner,
.contact .panel.inner {
    width: 940px;
}
.contact .title {
    font-size: 44px;
    color: #1a1a1a;
    padding: 0 0 30px;
    margin: 0;
    text-transform: uppercase;
}
.contact .col .title {
    font-size: 24px;
    text-align: left;
    text-transform: none;
}
.contact .col:nth-child(2) {
    width: 320px;
}
.contact .wpcf7-form .col:nth-child(2) {
    width: 260px;
}
.contact .wpcf7-form .col:nth-child(3) {
    width: 340px;
    padding: 62px 0 0 20px;
}
textarea:focus,
input:focus {
    outline-width: 0;
}
.contact .input {
    padding: 8px 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: white;
    margin: 0 0 15px 0;
    width: 230px;
}
.contact .input input {
    border: none;
    font-size: 16px;
    width: 100%;
}
.contact .textarea {
    padding: 8px 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: white;
    margin: 0 0 15px 0;
    height: 76px;
}
.contact .textarea textarea {
    width: 100%;
    border: none;
    height: 100%;
    font-size: 16px;
}
.contact .important {
    font-family: Arial;
}
.contact .address {
    font: 16px;
    margin: 0;
    color: #1a1a1a;
    padding: 0;
}
.contact .address a {
    color: #1a1a1a;
    text-decoration: none;

}
.comments .submit,
.contact .submit {
    float: right;
}
.comments .submit a {
    display: block;
    width: 127px;
    height: 46px;
    background: url(images/send-button.png) no-repeat;
    text-indent: 100%;
    overflow: hidden;
}
.wpcf7-submit {
    display: block;
    width: 127px;
    height: 46px;
    background: url(images/send-button.png) no-repeat;
    border: none;
    text-indent: -999px;
    overflow: hidden;
}
.partners {
    padding: 20px 0 15px 0;
}
.partners .title {
    margin:  0;
    color: white;
    font-size: 24px;
    padding: 0;
}
.partners .panel.inner {
    width: 940px;
    padding: 0;
}
.partners ul.links {
    padding: 0;
    list-style-type: none;
}
.partners ul.links li:first-child {
    margin: 0;

}
.partners ul.links li {
    width: 200px;
    padding: 0px 0;
    border-radius: 5px;
    margin: 0 0 0 46px;
    float: left;
    text-align: center;
    background: white;
}
footer .logo {
    background: url(images/hanka-koutna-logo-footer.png) no-repeat;
    width: 299px;
    height: 59px;
    text-indent: -999px;
    overflow: hidden;
    float: left;
    display: block;
}
footer .right {
    float: right;
    width: 630px;
    padding: 10px 0 0 0;
}
footer ul {
    color: black;
    font-size: 16px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
footer ul li {
    float: left;
}
footer ul li:after {
    content: " / ";
    display: block;
    float: right;
    padding: 0 5px;
}
footer ul li:last-child:after {
    content: "";
}
footer ul li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

footer ul li a:hover {
    text-decoration: underline;
}
footer p.copy {
    color: white;
    font-size: 15px;
    float: left;
    margin: 0;
    padding: 3px 0 0;
    font-family: arial;
}
footer .author {
    float: right;
    font-size: 15px;
    margin: 0;
    padding: 3px 0 0;
    color: white;
    text-decoration: none;
    font-family: arial;
}


.contactpage {
    background: url(images/background-boxes.jpg) top center repeat-x,
        url(images/background-contact.jpg) bottom center no-repeat;
    color: #1a1a1a;
}
.aboutme {
    background: url(images/background-boxes.jpg) top center repeat-x,
        url(images/background-aboutme.jpg) bottom center no-repeat;
    color: #1a1a1a;
}
.contactpage .strong,
.aboutme .strong {
    font-size: 24px;
}
.aboutme .text {
    font-size: 16px;
}
.contactpage div div,
.aboutme div div {
    margin-left: 490px;
}
.contactpage div div {
    padding: 120px 0 140px 0;
}
.contact.bar,
.aboutme.bar {
    background: url(images/about-me-bar.png) top center repeat-x;
}

.contact.bar .portfolio,
.aboutme.bar .portfolio {
    font-size: 30px;
    display: block;
    text-decoration: none;
    color: white;
    margin: 0 auto;
    text-align: left;
    line-height: 24px;
    padding: 12px 0 0 50px;
    width: 280px;
    background: url(images/icon-portfolio.png) 0 16px no-repeat;
}
.aboutme.bar .portfolio span {
    color: #1a1a1a;
    font-size: 16px;
}
.about .inner {
    padding: 45px 0 60px;
}
.about .col:nth-child(1) {
    width: 380px;
    margin: 0 0 0 10px;
}
.about .col:nth-child(2) {
    width: 460px;
    margin: 0 0 0 100px;
}
.about h2 {
    color: #000000;
    font-size: 44px;
    margin: 0 0 35px;
    padding: 0;
    font-weight: normal;
    line-height: 1;
}
.about p {
    font-family: Arial;
    color: #1a1a1a;
    font-size: 16px;
    margin: 10px 0;
}
.about p.lines {
    font-size: 24px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 0;
    margin: 10px 0;
}
.blog,
.gallery,
.references {
    background: url(images/background-boxes.jpg) top center repeat-x;
}
.blog h1,
.contactpage h1,
.aboutme h1,
.gallery h1,
.references h1 {
    margin: 0;
    padding: 20px 0 0;
    font-size: 74px;
    color: #1a1a1a;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}
.references ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.references ul li {
    padding: 0 30px;
    margin: 0;
    text-align: center;
    position: relative;
}
.references ul li:first-child strong {
    border: 0;
}
.references ul li strong {
    padding: 20px 0 0;
    margin: 0;
    display: block;
    font-size: 24px;
    font-weight: normal;
    border-top: 1px solid #e5e5e5;
}
.references ul li p {
    padding: 0;
    margin: 20px 0 ;
    font-size: 16px;
}
.testimonials.red {
    background-image: url(images/background-testimonials.png);
    height: 402px;
    background-position: center;
}
.testimonials h2 {
    margin: 0;
    padding: 40px 0;
    text-transform: uppercase;
    font-size: 44px;
    color: #1a1a1a;
    text-align: center;

    font-weight: normal;
}
.testimonials .inner {
    padding: 0;
}
.testimonials .text {
    margin: 0 auto;
    padding: 0;
    color: white;
    font-family: Arial;
    font-size: 16px;
    text-align: center;
    width: 920px;
}
.testimonials .name {
    margin: 0;
    padding: 30px 0 0;
    font-size: 24px;
    color: #1a1a1a;
    text-align: center;
}
.testimonials .position {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
    color: #1a1a1a;
}
.testimonials .switch {
    margin: 28px 0 0 0;
}
.clients h2 {
    margin: 0;
    font-size: 44px;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    color: #1a1a1a;
    padding: 40px 0 0 0;

}
.clients ul li.image a {
    left: 0;
}
.clients ul li.image {
    float: left;
    padding: 10px;
    left: 0;
}
.clients ul {
    list-style-type: none;
    width: 920px;
    margin: 0 auto;
    padding: 35px 0 50px;
}
.gallery h2 {
    font-size: 28px;
    color: #1a1a1a;
    font-weight: normal;
    padding: 30px  0 0 0;
    margin: 0;
    text-align: center;
}
.gallery ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 897px;
}

.gallery ul li {
    float: left;
    margin: 20px;
}
.gallery .panel.inner {
    padding-top: 0;
}
.gallery .download span {
    display: block;
    background: url(images/icon-download.png) 0px 4px no-repeat;
    float: left;
    position: relative;
    left: -50%;
    padding: 0 0 0 25px;
    font-family: Arial;
    color: #1a1a1a;
    font-size: 16px;
    text-decoration: none;

}
.gallery .download span em {
    border-bottom: 1px solid #cccccc;
    font-style: normal;
}
.gallery .download:hover span {
    color: #e2292a;
}
.gallery .download:hover span em {
    border-color: #e2292a;;
}
.gallery .download {
    text-align: center;
    display: block;
    position: relative;
    left: 50%;
    float: left;
    clear: both;
    padding: 10px 0;

}
.player .panel.inner {
    padding-top: 10px;
}
.player h2 {
    font-weight: normal;
    color: #1a1a1a;
    font-size: 28px;
    text-align: center;
}

.player .player {
    padding: 10px;
    width: 640px;
    background: white;
    margin: 0 auto;
}
.contactpage.bar.long,
.aboutme.bar.long {
    height: 90px;
}
.contactpage.bar.long .shadow,
.aboutme.bar.long .shadow,
.panel.bar .shadow {
    position: absolute;
    top: -8px;
    height: 8px;
    width: 100%;
    background: url(images/panel/bar-shadow.png) bottom center no-repeat;
    z-index: 50;
}
.blog {
    position: relative;
}
.blog .submenu ul {
    position: absolute;
    background: url(images/background-red.png);
    border-radius: 8px;
    left: 20px;
    top: 45px;
    padding: 0;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(200, 200, 200, .5);
    box-shadow: 0px 0px 20px 5px rgba(200, 200, 200, .5);
    width: 210px;
    z-index: 50;
}
.blog .panel.inner {
    padding: 10px 0 0 0;
    position: relative;
    overflow: visible;
}

.blog .submenu li {

    margin: 0;
    z-index: 50;
    background: url(images/line-top.png) top repeat-x,
        url(images/line.png) bottom repeat-x;
}
.blog .submenu li:first-child {
    background: url(images/line.png) bottom repeat-x;
}
.blog .submenu li:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.blog .submenu li:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.blog .submenu li:last-child {
    background: url(images/line-top.png) top repeat-x;
}
.blog .submenu li a {
    padding: 15px 20px;
    margin: 0;
    display: block;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    text-decoration: none;

}
.blog .submenu li:hover {
    background: url(images/arrow-white.png) right no-repeat,
        url(images/background-black.png);
}

.blog .panel.post .panel.inner .detail,
.blog .panel.post .panel.inner .post {
    margin: 0 0 0 280px;
    z-index: 10;
    position: relative;
}
.panel.post h2 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.panel.post h2 a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 28px;
}
.panel.post .image {
    display: block;
    margin: 25px 0;
    left: 0;

}
.blog .panel.post {
    padding: 35px 0;
    overflow: hidden;
}
.blog .panel.post .image a {
    left: 0;
}
.blog .panel.post:nth-child(3) {
    padding-top: 10px;
    background: url(images/background-grayscale-bottom.png) bottom repeat-x;
}
.blog .panel.post:nth-child(4) {
    background: url(images/background-gray.png);
}
.blog .panel.post:nth-child(5) {
    background: url(images/background-grayscale-top.png) top repeat-x,
        url(images/background-grayscale-bottom.png) bottom repeat-x;
}
.blog .post .navigation {
    margin: 80px 0 20px;
}
.blog .post .navigation .prev,
.blog .post .navigation .next {
    position: relative;
    z-index: 50;
    float: right;
}
.blog .post .navigation .next {
    float: left;
}
.blog .post .navigation .next a,
.blog .post .navigation .prev a {
    color: #1a1a1a;
    font-size: 16px;
    position: relative;
    font-family: Arial;
    text-decoration: none;
    border-bottom: 1px solid #cccccc;
}
.blog .post .navigation .next a:hover,
.blog .post .navigation .prev a:hover {
    border-color: #e2292a;
    color: #e2292a;
}
.blog .post .navigation .next span,
.blog .post .navigation .prev span {
    color: #e2292a;
}
.blog .post .navigation nav {
    position: absolute;
    width: 100%;
    z-index: 10;
}
.blog .post .navigation ul {
    position: relative;
    float: left;
    left: 50%;
    margin: 0;
    top: -10px;
    padding: 10px 0;
    z-index: 10;
    list-style-type: none;
}

.blog .post .navigation ul li {
    float:left;
    position: relative;
    left: -50%;
}
.blog .post .navigation ul li a {
    display: block;
    font-size: 16px;
    font-family: Arial;
    color: #1a1a1a;
    padding:  0 2px;
    margin: 0 20px;
    text-decoration: none;
    border-bottom: 1px solid #cccccc;
}
.blog .post .navigation ul li.selected span {
    color: white;
    z-index: 50;
    display: block;
    font-size: 16px;
    font-family: Arial;
    position: relative;
}
.blog .post .navigation ul li.selected span.circle {
    width: 30px;
    height: 30px;
    background: red;
    position: absolute;
    border-radius: 15px;
    left: -9px;
    top: -4px;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(200, 200, 200, .5);
    box-shadow: 0px 0px 5px 3px rgba(200, 200, 200, .5);
}
.blog .post .navigation ul li.selected {
    color: white;
    padding:  0 2px;
    margin: 0 20px;
}
.blog .post .navigation ul li a:hover {
    border-color: #e2292a;
    color: #e2292a;
}
.blog .panel.post .detail h2 {
    margin: 0;
    padding: 0;
    color: #1a1a1a;
    font-size: 44px;

    font-weight: normal;
}
.blog .panel.post .detail h3 {
    margin: 40px 0 20px;
    padding: 0;
    color: #1a1a1a;
    font-size: 28px;
}
.blog .panel.post .detail p {
    font-size: 16px;
    font-family: Arial;
    margin: 20px 0;
}
.blog .panel.post .detail .date {
    color: #999999;
    font-size: 16px;
    padding: 0 0 0 24px;
    background: url(images/icon-time.png) 0 4px no-repeat;
}
.blog .panel.post .detail .short {
    font-family: BreeSerif-Regular;
    font-size: 20px;
}
.comments {
    padding: 40px 0;
}
.comments .count {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 16px;
    font-family: Arial;
    color: #1a1a1a;
    margin: 0;
    padding: 10px 0 10px 30px;
    background: url(images/icon-bubble-small.png) 5px 13px no-repeat;

}
.blog .panel.post .comments .comment .name {
    font-size: 28px;
    color: #1a1a1a;
    background: url(images/icon-bubble.png) 0 18px no-repeat;
    display: block;
    padding: 10px 10px 10px 30px;
    margin: 0;
    float: left;
}
.blog .panel.post .comments .comment .date {
    color: #999999;
    font-size: 16px;
    float: left;
    display: block;
    padding: 20px 10px 10px 30px;
    margin: 0;
    background-position: 8px 23px;
}
.blog .panel.post .comments .comment .text {
    font-size: 16px;
    font-family: Arial;
    padding: 10px;
    border: 1px solid #e6e6e6;
    clear: both;
}
.comments .comment .comment-reply-link:hover {
    border-color: #e2292a;
    color: #e2292a;
}
.comments .comment .comment-reply-link {
    float: right;
    font-size: 20px;
    color: #e2292a;
    border-bottom: 1px solid #cccccc;
    text-decoration: none;
    display: block;
}
.blog .panel.post .comments form {
    padding: 20px 0;
    margin: 60px 0 0;
    clear: both;
    border-top: 1px solid #000000;
}
.blog .panel.post .comments form p {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #1a1a1a;
}
.blog .panel.post .comments form .text textarea {
    height: 100%;
}
.blog .panel.post .comments form .text textarea,
.blog .panel.post .comments form .email input,
.blog .panel.post .comments form .name input {
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
}
.blog .panel.post .comments form .text,
.blog .panel.post .comments form .email,
.blog .panel.post .comments form .name {
    width: 45%;
    padding: 8px 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: white;
    float: left;
    margin: 10px 0;
}
.blog .panel.post .comments form .text {
    width: 97%;
    height: 120px;
}
.blog .panel.post .comments form .email {
    float: right;

}
.blog .panel.post .comments form .text {

}
.blog .panel.post .comments form .important {
    font-family: Arial;
    font-size: 16px;
    color: #1a1a1a;
}

.contactpage div div a,
.text p a,
p.text a {
    color: #e2292a;
    text-decoration: none;
    border-bottom: 1px solid #cccccc;
}
.contactpage div div a:hover,
.text p a:hover,
p.text a:hover {
    border-color: #e2292a;
}
.scroller {
    overflow: hidden;
    position: relative;
}

.scroller .screen {
    position: relative;
    left: 0;
}

.scroller.actions .screen {
    padding: 25px 0 25px 0;

}

div.wpcf7-response-output {
    clear: both;
    font-size: 12px;
    font-family: Arial;
}
.wpcf7-not-valid-tip {
    font-family: Arial;
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
} 
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}